<%- include("./partials/header.ejs") %>

    <section class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-6 col-xl-5">

                <div class="row justify-content-around position-relative" style="margin-bottom: -2px;" >
                    <div class="col-3 bg-white rounded-top-5 border-secondary border border-bottom-0 d-flex align-items-center justify-content-center z-1">
                        <a class="nav-link fs-2" href="/buy?coin=<%= coinTicker %>">Buy </a>
                    </div>
                    <div class="col-3 bg-white rounded-top-5  border-secondary border border-bottom-0 d-flex align-items-center justify-content-center z-0">
                        <a class="nav-link text-secondary fs-4" href="/sell?coin=<%= coinTicker %>"> Sell</a>
                    </div>
                </div>
                <% if(locals.coinData && locals.user) { %>
                    <div class="card rounded-5 border border-black d-flex align-items-center" >   
                        <% let coin = locals.coinData.coinList[coinTicker]; %>

                        <img src="<%= coin.svg %>" class="img-fluid pt-4" width="100px" alt="...">
                        <p class="card-text text-center"><%= coin.name %></p>
                        <p class="card-text text-center">$<%= coin.price %> US</p>

                        <form class="card-body pt-0" method="POST" action="/buy?coin=<%= coinTicker %>">
                            <span>Available Balance: $<%= locals.user.assets.usd %></span>
                            
                            <div class="input-group mb-3">
                                <span class="input-group-text">$</span>
                                <input type="text" class="form-control" name="amount" id="amountInput" aria-label="Amount (to the nearest dollar)">
                                <span class="input-group-text">US</span>
                            </div>
                            <span id="fee" class="fs-6">Fee $0.00</span>
                            <p id="totalTrade" class="fs-3">0.00 <%= coin.symbol %></p>
                            <button type="submit" class="btn btn-outline-success w-100">Buy</button>
                        </form>

                        <script>
                            var funds = '<%= locals.user.assets.usd %>';
                            var price = '<%= coin.price %>';
                            var name = '<%= coin.symbol %>'; 
                            document.getElementById('amountInput').addEventListener('input', function() {
                                var inputValue = parseFloat(this.value) || 0;
                                if ( inputValue > funds) {
                                    inputValue = funds;
                                    this.value = funds;
                                }
                                var fee = inputValue * 0.01;
                                var total = (inputValue - fee) / price;
                                document.getElementById('totalTrade').textContent = `${total.toFixed(2)} ${name}`;
                                document.getElementById('fee').textContent = `Fee $${fee.toFixed(2)}`;
                            });
                        </script>

                    
                        
                    </div>
                <% } %>
            </div>
        </div>


    </section>

<%- include("./partials/footer.ejs") %>