<%- include("partials/header.ejs") %>
    <section class="container mt-5">
        <div class="row justify-content-center">
            <p class="text-center fs-sm-3"> Welcome 
                <%= locals.user? locals.user.firstname : "" %> 
                <%= locals.user? locals.user.lastname : "" %>!</p>
            <h2 class="text-center mb-5 fs-1">My Assets</h2>
        </div>
    </section>

    <section class="container mb-5">
        <div class="row border border-secondary rounded mb-1">
            <div class="col-3 ">
           
            </div>
            <div class="col-2 ">
                <p class="m-0 p-1 fs-sm-4 my-auto">Currency</p>
            </div>
            <div class="col-2 d-flex  align-items-center justify-content-center">
                <p class="fs-sm-4 my-auto">Price</p>
            </div>
            <div class="col-2 d-flex align-items-center justify-content-center">
                <p class="fs-sm-4 my-auto">Amount</p>
            </div>
            <div class="col-3 d-flex align-items-center justify-content-end">
                <p class="fs-sm-4 my-auto">Value</p>
            </div>
        </div>

        <% if(locals.user && locals.coinData) { %>

            <% const assets = locals.user.assets; %>
            <% const assetKeys = Object.keys(assets); %>
            <% const coinList = locals.coinData.coinList; %>
            <% for(let i = 0; i < assetKeys.length; i++) {%>
                <% const asset = assetKeys[i]; %>
                <% if(assets[asset] === 0){continue;} %>
                <% const coin = coinList[assetKeys[i]]; %>
                <% console.log(coin) %>
                <% console.log(assetKeys) %>
                <% console.log(assetKeys[i]) %>
                <% const coinPrice = coinData.roundFigs(coin.price, 4) %>

                <% const coinAmount = coinData.roundFigs(assets[asset], 4) %>
                <% const value = coinData.roundFigs(assets[asset] * parseFloat(coin.price), 4) %>
                <a class="nav-link <%= asset === "usd"? "disabled-link" : "" %>"  href="/buy?coin=<%= asset %>">

                    <div class="row border border-secondary rounded mb-1">
                        <div class="col-3 d-flex">
                            <img src=<%= coin.svg %> class="img-fluid p-1 mx-auto" width="75px" alt="...">
                        </div>
                        <div class="col-2 d-flex align-items-center justify-content-center">
                            <p class="m-0 fs-sm-4 my-auto"><%= coin.name %></p>
                        </div>
                        <div class="col-2 d-flex align-items-center justify-content-center">
                            <p class="fs-sm-4 my-auto"><%= coinPrice %></p>
                        </div>
                        <div class="col-2 d-flex align-items-center justify-content-center">
                            <p class="fs-sm-4 my-auto"><%= coinAmount %></p>
                        </div>
                        <div class="col-3 d-flex align-items-center justify-content-end">
                            <p class="fs-sm-4 my-auto">$<%= value %></p>
                        </div>
                    </div>
                </a>
            <% } %>    
        <% } %>
    </section>
    

<%- include("partials/footer.ejs") %>